@use '../utilities' as *;

// Buttons
// =======
// Styles for different button types using the button-style mixin.
// Includes a hover effect using the Sass lighten() function.


.btn {
  margin-top: 15px;
  width: 100%;
  @include button-style($success-color);

  &:hover {
    background-color: lighten($success-color, 15%);
  }
}




.default {
  @include button-style($info-color);
}

.success {
  @include button-style($success-color);
}

.error {
  @include button-style($error-color);
}

.warning {
  @include button-style($warning-color);
}

.info {
  @include button-style($info-color);
}
