@use '../utilities' as *;

// Buttons
// =======
// Styles for different button types using the button-style mixin.
// Includes a hover effect using the Sass lighten() function.


.btn {
  margin-top: 15px;
  width: 100%;
  @include button-style($success-color);

  &:hover {
    background-color: lighten($success-color, 15%);
  }
}




.default {
  @include button-style($primary-color);

  &:hover {
    background-color: lighten($primary-color, 15%);
  }
}

.success {
  @include button-style($success-color);

  &:hover {
    background-color: lighten($success-color, 15%);
  }
}

.error {
  @include button-style($error-color);

  &:hover {
    background-color: lighten($error-color, 15%);
  }
}

.warning {
  @include button-style($warning-color);

  &:hover {
    background-color: lighten($warning-color, 15%);
  }
}


.info {
  @include button-style($info-color);

  &:hover {
    background-color: lighten($info-color, 15%);
  }
}