@use '../utilities' as *;


@media (min-width: $mobile-breakpoint) {
  .container {
    max-width: 1400px;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    flex-direction: row;
  }

  [class^="col"] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;

    & + [class^="col"] {
      margin-left: 10px;
    }
  }

  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  @include respond-to(medium) {
  .nav-link {
    margin-left: 50px;        
    text-decoration: none;   
    border: none;             
  }
}


  .btn {
    padding: 10px 30px;

    & + .btn {
      margin-left: 10px;
    }
  }

  .img-logo {
    margin-left: 0;
  
  }
}

