// scss/base/_typography.scss
@use '../utilities' as *;

body {
  font-family: $font-family-base;
}


* {
  font-family: $font-family-base;
  color: $text-color;
}

.headline-primary {
  color: $primary-color;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color: $text-color;
}

.link {
  color: $secondary-color;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $blockquote-border;
  border-radius: 5px;
}
